<div class="footer-wrapper">
    <div class="framework-info">
        <a href="https://doflake.github.io">
            <img src="https://img.shields.io/badge/Theme-doflake-inactive?labelColor=151A30&color=3e89df&logo=Hexo&style=for-the-badge&logoWidth=15">
        </a>
    </div>
</div>