<div class="card">
    <div class="card-cover-1"></div>
    <div class="card-part-1"></div>
    <div class="card-part-2"></div>
    <div class="card-part-3"></div>
    <div class="card-part-4"></div>
    <div class="card-cover-2"></div>
    <p class="card-title"><%= theme.basic.card.title %></p>
</div>