<div class="footer">

    <!-- TEXT -->
    <div class="footer-text">

        <div class="footer-runtime">
            <div class="footer-text" id="runtime_span"></div>
            <script type="text/javascript">			
                function show_runtime() {
                    window.setTimeout("show_runtime()", 1000);
                    X = new Date("01/20/2021 21:00:00");
                    Y = new Date();
                    T = (Y.getTime() - X.getTime());
                    M = 24 * 60 * 60 * 1000;
                    a = T / M;
                    A = Math.floor(a);
                    b = (a - A) * 24;
                    B = Math.floor(b);
                    c = (b - B) * 60;
                    C = Math.floor((b - B) * 60);
                    D = Math.floor((c - C) * 60);
                    runtime_span.innerHTML = "Running : " + A + " Day " + B + " Hour " + C + " Minute " + D + " Second "
                }
                show_runtime();
            </script>
        </div>

    </div> 
   
    <!-- COPYRIGHT -->
    <div class="footer-copyright">
        <a href="https://doflake.github.io"><img src="https://img.shields.io/badge/Theme-doflake-ec87e4.svg"></a>
    <div>
    

    <!-- FISH -->
    <fish>
        <div id="jsi-flying-fish-container"></div>
        <script src='js/fish.js'></script>
    </fish>
</div>
