$post_border_radius = convert(hexo-config("layout.index_post.border.radius"))
$post_margin_first_to_nav = convert(hexo-config("layout.index_post.margin.first_to_nav"))
$post_post_title_color = convert(hexo-config("layout.index_post.posts.title_color"))
$post_post_content_link_color = convert(hexo-config("layout.index_post.posts.content_link_color"))
$post_post_container_color_default = convert(hexo-config("layout.index_post.container.color.default"))
$post_post_container_color_hover = convert(hexo-config("layout.index_post.container.color.hover"))

$max_width = convert(hexo-config("layout.index_post.container.max_width"))
$margin_left = convert(hexo-config("layout.index_post.container.left"))
$margin_right = convert(hexo-config("layout.index_post.container.right"))
$margin_top = convert(hexo-config("layout.index_post.container.top"))
$margin_bottom = convert(hexo-config("layout.index_post.container.bottom"))

.post {
  background-color: rgba($post_post_container_color_default);
  padding: 10px 30px;
  .post-title {
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 20px;
    .post-title-link {
      color:  $post_post_title_color;
      text-decoration: none;
    }
  }
    
  .post-content {
    padding-left: 20px;
    p {
      color: rgba($post_post_content_link_color);
      text-decoration: none;
    }
  }
}
.post-index
{
  max-width: $max_width;
  margin-left: $margin_left;
  margin-right: $margin_right;
  margin-top: $margin_top;
  margin-bottom: $margin_bottom;
  
  margin: 1em auto;
  background-color: rgba($post_post_container_color_default);
  box-shadow: 3px 3px 7px #252525;
  border-radius: $post_border_radius;
}

.posts  {
  .post:first-child {
    margin-top: $post_margin_first_to_nav;
  }
  .post-banner {
      border: 2px solid #252525;
      height: 250px;
      background-size: cover;
      overflow: hidden;
    }

  .post-title {
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 20px;
    .post-title-link {
      color:  $post_post_title_color;
      text-decoration: none;
    }
    .post-title-size {
      font-size: 1em;
        
    }
  }
    
  .post-content {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    p {
      color: rgba($post_post_content_link_color);
      text-decoration: none;
    }
  }

  .post:hover {
    background-color: rgba($post_post_container_color_hover);
  }
}


