$post-index-padding_top = convert(hexo-config("layout.index_post.container.top"))
$post-index-padding_left = convert(hexo-config("layout.index_post.container.left"))
$post-index-max_width = convert(hexo-config("layout.index_post.container.max-width"))
$post-index-background_color = convert(hexo-config("layout.index_post.container.background-color"))

$post-index-title-color = convert(hexo-config("layout.index_post.title.color"))
$post-index-title-underline-under = convert(hexo-config("layout.index_post.title.underline.under"))
$post-index-title-underline-time = convert(hexo-config("layout.index_post.title.underline.time"))
$post-index-title-underline-height = convert(hexo-config("layout.index_post.title.underline.height"))


.post-index {
  padding-top: $post-index-padding_top;
  padding-left: $post-index-padding_left;
}

.posts {

  .post-index-container {
    max-width: $post-index-max_width;
    margin: 50px;
    background-color: rgb($post-index-background_color);

    box-shadow: 0 0 3px 1px rgba(51,51,51,0.5);
    transition: 0.3s;
  }

  .post-index-container:hover {
    box-shadow: 0 3px 15px 3px rgba(51,51,51,0.5);  
  }

  .post-index-banner {
      border-bottom: 5px solid #252525;
      height: 250px;
      background-size: cover;
      overflow: hidden;
  }

  .post-title {
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;

    .post-title-link {
      text-decoration: none;

      position: relative;
      color: $post-index-title-color;
      font-weight: bold;
      text-decoration: none;
    }

    .post-title-link:before {
      transition: all $post-index-title-underline-time ease-in-out;
      position: absolute;
      right: 50%;
      left: 50%;
      bottom: $post-index-title-underline-under;
      display: block;
      height: $post-index-title-underline-height;
      background-color: $post-index-title-color;
      content: '';
    }

    .post-title-link:hover:before {
      right: 0;
      left: 0;  
    }

    .post-title-size {
      font-size: 1em;
    }
  }

  .post-content {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    p {
      color: rgb(255,255,255);
    }
  }

}