<div class="index-card">
    <img src="<%= theme.indexcard.src %>" class="photo">
    <div class="vague"></div>
    <div class="Canvas">
        <canvas id="bubble"></canvas>
        <script src="js/bubble.js"></script>
    </div>
    <div class="index-card-avatar-container">
        <% if (theme.indexcard.avatar || theme.aside.author.avatar) { %>
            <img src="<%= theme.indexcard.avatar || theme.aside.author.avatar %>" class="avatar">
        <% } %>
        <% if (theme.indexcard.title) { %>
            <p class="title"><%= theme.indexcard.title %></p>
        <% } %>  
    </div>  
    <div class="down-button">
        <a class="fa fa-chevron-down card-down-button" href="#body"></a>
    </div>
</div>