$background_link = hexo-config("basic.background.link")
body {
    background-image: url($background_link);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}