$card_image = hexo-config("basic.card.image")
$card_background-color = convert(hexo-config("basic.card.background-color"))
$card_text-color = convert(hexo-config("basic.card.text-color"))
.card{
    position: relative;
    display: flex;
    justify-content: center;
    
    height: 100vh;
    max-width: 100%;
    
    background-color: rgb($card_background-color);
    background-size: cover;
    align-items: center;
    overflow: hidden;
}

.card-part-1,
.card-part-2,
.card-part-3,
.card-part-4
{
    position: absolute;
    width: 1000px;
    height: 600px;
    filter: drop-shadow(4px 4px 12px rgba(0,0,0,.5));
    background-size: cover;
    opacity: .7;
    transition: .5s;
}
.card-part-1::after,
.card-part-2::after,
.card-part-3::after,
.card-part-4::after
{
    content: "";
    position: absolute;
    width: 1000px;
    height: 600px;
    background-image: url($card_image);
}
.card-part-1{
    left: -400px;
    transform: rotateZ(100deg);
    overflow: hidden;
}
.card-part-1::after{
    transform: rotateZ(-100deg);
}

.card-part-2{
    left: -400px;
    transform: rotateZ(-100deg);
    overflow: hidden;
}
.card-part-2::after{
    transform: rotateZ(100deg);
}

.card-part-3{
    right: -400px;
    transform: rotateZ(105deg);
    overflow: hidden;
}
.card-part-3::after{
    transform: rotateZ(-105deg);
}

.card-part-4{
    right: -400px;
    transform: rotateZ(-100deg);
    overflow: hidden;
}
.card-part-4::after{
    transform: rotateZ(100deg);
}
.card-title{
    opacity: 0;
    font: 900 50px '';
    font-family: "Consolas";
    letter-spacing: 10px;
    color: rgb($card_text-color);
    transition: .5s;
}

.card:hover .card-part-1{
    left: -550px;
}
.card:hover .card-part-2{
    left: -600px;
}
.card:hover .card-part-3{
    right: -550px;
}
.card:hover .card-part-4{
    right: -610px;
}
.card:hover .card-title{
    opacity: 1;
}

.card-cover-1 {
    position: absolute;
    top: 0px;
    width: 10000px;
    height: 20px;
    background-color: rgba($card_text-color,0.5);
}

.card-cover-2 {
    position: absolute;
    bottom: 0px;
    width: 10000px;
    height: 20px;
    background-color: rgba($card_text-color,0.5);
}