<div class="author">
    <div class="author-avatar">
        <div class="author-avatar-a">
            <div class="author-avatar-b"></div>
            <div class="author-avatar-img"></div>
        </div>
    </div>

    <a class="author-title" href="/about/"><%= theme.meta.author.title %></a>
</div>