<script src="/js/totop.js"></script>
<script src="/js/jquery.min.js"></script>
<style>
    #totop {
        position: fixed;
        right: 100px;
        bottom: 100px;
        width: 0;
        height: 0;
        display: none;

        transition: all 0.3s;
    }

    #totop:hover {
        transform: translate(-5px,-5px);
    }
</style>
<div id="totop"><a title="Rem To Top"><img src="<%= theme.meta.totop.url %>"/></a></div>