body {
  background-image:url(https://);
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:cover;
}


作者: ConstOwn
链接: https://blog.juanertu.com/archives/e358bc47.html
来源: 你真是一个美好的人类
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。

.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";