:root {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Fira Sans, "Noto Serif SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;;
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    content: '\f292';
    color: #f47466;
    line-height: 1;
    animation: turn_around 1s linear infinite;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Font Awesome 5 Free";
    color: var(--color-h);
}

hr {
  position: relative;
  margin: 1rem auto;
  border: 2px dashed var(--color-hr);
  width: calc(100% - 4px);

  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr:hover:before {
  left: calc(95% - 20px);
}

hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: var(--color-hr);
  content: "\f0c4";
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

a[target=_blank] {
    color: var(--color-blank-1);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.28s ease;

    &:before, &:after {
        content: '\00A0';
    }

    &:hover {
        color: var(--color-blank-2);
    }
}

p {
    line-height: 2em;
    letter-spacing: 1px;
}

s {
    text-decoration-color: var(--color-line-through);
    text-decoration-style: dashed;
    text-decoration-thickness: .2em;

    &:before, &:after  {
        content: "\00A0";
    }
}

u {
    text-decoration-color: var(--color-decoration);
    text-decoration-style: dashed;
    text-decoration-thickness: .2em;

    &:before, &:after  {
        content: "\00A0";
    }
}

section.footnotes {

    &:before {
        content: 'Footnotes';
        left: -15px;
        top: -8px;
        color: var(--color-footnotes);
        font-weight: bold;
        font-size: 2em;  
    }

    .footnote-ref 
    {

    }
}


// .hint--bottom:before {
//   margin-top: -11px; }

// .hint--bottom:before, .hint--bottom:after {
//   top: 100%;
//   left: 50%; }

// .hint--bottom:before {
//   left: calc(50% - 6px); }

// .hint--bottom:after {
//   -webkit-transform: translateX(-50%);
//   -moz-transform: translateX(-50%);
//   transform: translateX(-50%); }

// .hint--bottom:hover:before {
//   -webkit-transform: translateY(8px);
//   -moz-transform: translateY(8px);
//   transform: translateY(8px); }

// .hint--bottom:hover:after {
//   -webkit-transform: translateX(-50%) translateY(8px);
//   -moz-transform: translateX(-50%) translateY(8px);
//   transform: translateX(-50%) translateY(8px); }

.text {
    color: var(--color-text);
}

.avatar-round {
    border-radius: 50%;
    transition: 1.5s all;

    &:hover {
        transform: rotate(360deg);
    }
}

.card {
     border-radius: 20px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    -webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
    }
}



