.footer-wrapper {
    position: relative;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--color-footer);
    text-align: center;

    .framework-info {
        margin: 0px 10px;
    }
}
