@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes scroll-up-down {
    25% {
        transform: translateY(-6px);
        color: #fff;    
    }
    50%, 100% {
        transform: translateY(0px);    
    }
    75% {
        transform: translateY(8px);
        color: rgb(200, 200, 200);
    }
}