@media screen and (max-width: 768px) {
    .post-index-container {
        width: 100%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .post-index-headimg {
        height: 230px;
    }
}

@media screen and (max-width: 600px) {
    .post-index-headimg {
        height: 180px;
    }
}

@media screen and (max-width: 425px) {
    .post-index-headimg {
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .post-index-tag {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .aside-container {
        display: none;
    }
} 