$post-index-max_width = convert(hexo-config("layout.index_post.container.max-width"))
$author-avatar-url = hexo-config("meta.author.avatar.url")
.author {
    position: sticky;
    display: column;

    top: 5vh;
    width: 90vw-($post-index-max_width);
    height: 80vh;

    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 5vw;
    background-color: rgb($post-index-background_color);

    border-radius: 10px;

    box-shadow: 0 0 3px 1px rgba(51,51,51,0.5);
    transition: 0.3s;
}

.author:hover {
     box-shadow: 0 3px 15px 3px rgba(51,51,51,0.5);  
}


.author-avatar {
    display: flex;
    justify-content: center;
    background-color: #000000;

    border-radius: 10px 10px 0px 0px;

    width: 100%;
    height: 300px;

    .author-avatar-a {
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;

        display: flex;
        justify-content: center;
    }

    .author-avatar-b{
        transition: .7s;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px solid #fff;
        border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
        animation: author-avatar-b 10s infinite linear;

    }
    .author-avatar-b::after,
    .author-avatar-b::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px #fff solid;
        transition: .7s;
        border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
        animation: author-avatar-b 8s infinite linear;
    }
    .author-avatar-b::before{
        animation: author-avatar-b 6s infinite linear;
    }
    @keyframes author-avatar-b{
        0%{
            transform: rotateZ(0);
        }
        100%{
            transform: rotateZ(360deg);
        }
    }
    .author-avatar-a:hover .author-avatar-b,
    .author-avatar-a:hover .author-avatar-b::before,
    .author-avatar-a:hover .author-avatar-b::after {
        background-color: rgba(255,255,255,.3);
    }

    .author-avatar-img {
        z-index: 1;
        width: 180px;
        height: 180px;
        border-radius: 100px;
        background-image: url($author-avatar-url);
        background-size: cover;
        margin: 10px auto;
    }
}

$author-title-color = convert(hexo-config("layout.index_post.title.color"))
$author-title-underline-under = convert(hexo-config("layout.index_post.title.underline.under"))
$author-title-underline-time = convert(hexo-config("layout.index_post.title.underline.time"))
$author-title-underline-height = convert(hexo-config("layout.index_post.title.underline.height"))

.author-title {
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: "Comic Sans MS",'Long Cang',cursive;
    
    text-decoration: none;

    color: $author-title-color;
    font-weight: bold;
}

.author-title:before {
    transition: all $author-title-underline-time ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: $author-title-underline-under;
    display: block;
    height: $author-title-underline-height;
    background-color: $author-title-color;
    content: '';
}

.author-title:hover:before {
    right: 0;
    left: 0;  
}

.post-title-size {
    font-size: 1em;
}