::-webkit-scrollbar
{
    width: 8px;
    background-color: var(--color-body);
}

::-webkit-scrollbar-track
{
    background-color: var(--color-body);
}

::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background-color: var(--color-body-invert);
}