table {
    // border-collapse: collapse;
    // border-spacing: 0;
    // border: 1px soild #AAA;
    width: 100%;
    white-space: normal;
    word-break: break-all;
    code {
        border-radius: 5px;
        width: 100%;
        white-space: normal;
        word-break: break-all;
    }
    .gutter {
        display: none;
    }

}

table td.code {
    border: 4px 0px 0px 0px;
    color: #1b8cc9;
}
