.body-container {
    background-color: var(--color-body);
}

.body-main {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}