<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="<%- config.root %>font\font-awesome-4.7.0\css\font-awesome.min.css">
  <head><%- partial('_partial/head') %></head>
  <body>
    <div class="container">
      <main class="main">
        <%- body %>
      </main>
    </div>

    
  </body>
</html>