<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    
    <div class="theme-basic-background">
      <% if (theme.basic.background.enable) { %>
        <%- partial('_partial/background') %> 
      <% } %> 
    </div>
    
    <div class="container">
      <%- partial('_partial/header') %>
      <main class="main">
        <%- body %>
      </main>
    </div>
</html>