<article class="post">
  <script src="/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <div class="post-title">
    <center><p class="post-title-link post-title-size"><%= page.title %></p></center>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
  
</article>